files:
  "/opt/elasticbeanstalk/deployment/custom_platform_hooks/preconfigure/01_copy_procfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Force use of our Procfile
      cp /var/app/staging/Procfile /var/app/staging/Procfile.bak
      echo "web: gunicorn --bind 127.0.0.1:8000 --workers 3 --threads 2 --chdir Django_Checkbook Django_Checkbook.wsgi:application" > /var/app/staging/Procfile