option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Django_Checkbook.wsgi:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/Django_Checkbook_Project-master-main/Django_Checkbook"
    DJANGO_SETTINGS_MODULE: "Django_Checkbook.settings"

files:
  "/var/app/staging/requirements.txt":
    mode: "000644"
    owner: webapp
    group: webapp
    source: /var/app/staging/Django_Checkbook_Project-master-main/requirements.txt

container_commands:
  01_migrate:
    command: "cd Django_Checkbook_Project-master-main/Django_Checkbook && python manage.py migrate --noinput"
    leader_only: true
