option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Django_Checkbook/Django_Checkbook/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Django_Checkbook.settings
    PYTHONPATH: /var/app/current/Django_Checkbook

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/Procfile
