option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Django_Checkbook.wsgi:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/Django_Checkbook"
    DJANGO_SETTINGS_MODULE: "Django_Checkbook.settings"

container_commands:
  01_migrate:
    command: "cd Django_Checkbook && python manage.py migrate --noinput"
    leader_only: true
