{% extends 'checkbook_base.html' %}
{% block title%}Add New Transaction{% endblock %}
{% block content %}
    <div class="new-transaction-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" id="new-transaction-button" type="submit" name="Save_Transaction">Add Transaction</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'balance' account.pk %}'">Cancel</button>
        </form>
        <br>
    </div>
{% endblock %}