{% extends 'checkbook_base.html' %}
{% block title %}Update Transaction{% endblock %}
{% block content %}
<div id="update-transaction-form">
    <form method="POST"> 
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Transaction</button>
        {% if form.instance.pk %}
            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'deleteTransaction' form.instance.pk %}'">Delete Transaction</button>
        {% endif %}
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'balance' account.pk %}'">Cancel</button>
    </form>
</div>
{% endblock content %}
