{% extends 'checkbook_base.html' %}
{% block title %}Update Transaction{% endblock %}
{% block content %}
            <div id="update-transaction-form">
                <form method="POST"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update Transaction</button>

                    {% if form.instance.pk %}
                        <a class="btn btn-danger" href="{% url 'deleteTransaction' form.instance.pk %}">Delete Transaction</a>
                    {% endif %}

                    {# Cancel: go back to the account's transactions (BalanceSheet) #}
                    {% if form.instance.account and form.instance.account.pk %}
                        <a class="btn btn-secondary" href="{% url 'balance' form.instance.account.pk %}">Cancel</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'account_list' %}">Cancel</a>
                    {% endif %}
                </form>
            </div>
{% endblock content %}
