canvas {
    background-color: rgba(255, 255, 255, 0.695) !important;
}

.report-center {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
}

.report-center>div {
    flex: 0 1 600px;
}